/*media query*/
@media screen and (min-width:768px)
{
    #playstation-plus #nascosto{
        display:inline-block;
    }

    #playstation-now #nascosto{
        display: inline-block;
    }
}

@media screen and (min-width:1200px)
{
    #logo-nav #nascosto{
        display:inline-block;
    }

    #logo-nav #icona-nascosta{
        display: none;
    }

}
