/*********************************************generics*********************************************/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/**********************************************utilities********************************************/

header,
section {
    min-height: 200px;
}

[class*="col"]
{
    border:1px dashed red;
}

.btn{   /*sovrascrivo la classe .btn di bootstrap per modificare queste proprietà a mio gusto*/
    border-radius:50px;
    padding:0px 20px;
}

.sa-btn-light{
    background-color: #d9dadc;
}

.bg-gray{
    color: #727272;
}

.btn-orange{
    background-color: #cd3d0f;
}

.pd-top-100{
    padding-top:100px;
}

.w-100{
    width:100%;
}
.w-100-px{
    width:100px;
}
.w-10-px{
    width:30px;
}

.w-50-px{
    width:150px;
}
/**********************************************content************************************************/
/********************header******************/
#brand-name{
    background-color: #000000;
    color:white;
}

.fa-solid{
    line-height:50px;   /*sovrascritta la proprietà 'line-height' della classe 'fa-solid' del tag i*/
    vertical-align: middle;
}

#logo-nav #nascosto{
    display:none;
}

#logo-nav #nascosto ul{
    list-style-type: none;
}

#logo-nav ul{   /*così da avere link ed icone allineati sulla linea di testo*/
    vertical-align: middle;
    line-height:50px;
}

#logo-nav #nascosto ul li{
    margin:0px 10px;
}

#logo-nav #nascosto ul li a{
    text-decoration: none;
    color:black;
}

.dropdown .dropdown-menu{
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: inline-block;
}
/****************sez-jumbotron***************/
#jumbotron{
    background-image: url(img/jumbo-bg.png);
    padding-top:15%; 
}
/*************sez-returnal-ratchet***********/

/************sez-console-playstation*********/

/************sez-it-takes-two****************/
#it-takes-two{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    padding-top:10%;
}
/************sez-playstation-plus************/
#playstation-plus{
    background-color: #bebcbb;
}
#playstation-plus #nascosto{
    display:none;
}

/************sez-nuove-uscite***************/
#nuove-uscite{
    background-color: #1f1f1f;
}
/************sez-skater-crash***************/
#skater-crash{
    background-color:#1f1f1f; ;
}

#skater-crash img{
    width:100%;
}
/************sez-playstation-now************/
#playstation-now{
    background-color: #161c3b;
}

#playstation-now{
    padding:100px 0px;
}

#playstation-now #nascosto{
    display: none;
}
/******************footer*****************/
footer{
    background-color: #00439c;
}
footer ul {
    list-style-type: none;
}
/*media query*/
@media screen and (min-width:768px)
{
    #playstation-plus #nascosto{
        display:inline-block;
    }

    #playstation-now #nascosto{
        display: inline-block;
    }
}

@media screen and (min-width:1200px)
{
    #logo-nav #nascosto{
        display:inline-block;
    }

    #logo-nav #icona-nascosta{
        display: none;
    }

}
